/*
[1] https://www.codepel.com/vanilla-javascript/3d-rotating-cube-javascript/
auther Jordan Leigh
[2] https://dev.to/martinp/how-to-do-stunning-3d-with-pure-htmlcss-ah 
auther Martin PAUCOT
*/
body {
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  perspective: 800px;
  perspective-origin: 50% -200px;
}

.box {
  --size: 100px;

  width: var(--size);
  aspect-ratio: 1;

  transform-origin: 50px bottom -50px;

  animation: rotate 4s linear infinite;
  position: relative;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: var(--size);
  aspect-ratio: 1;

  background-color: hsl(39,
      100%,
      var(--opacity));

  transform-style: preserve-3d;
}

.face.front {
  --opacity: 66%;
}

.face.bottom {
  --opacity: 66%;

  top: 100%;

  transform-origin: top;
  transform: rotateX(-90deg);
}

.face.top {
  --opacity: 74%;
  bottom: 100%;

  background-color: hsl(39,
      100%,
      var(--opacity));

  transform-origin: bottom;
  transform: rotateX(90deg);

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.face.back {
  --opacity: 78%;
  bottom: 200%;

  transform-origin: center 150px -50px;
  transform: rotateX(180deg);
}

.face.right {
  --opacity: 70%;

  left: 100%;

  transform-origin: left;
  transform: rotateY(90deg);
}

.face.left {
  --opacity: 70%;

  right: 100%;

  transform-origin: right;
  transform: rotateY(-90deg);
}



.one.center {
  background-color: green;
  position: absolute;
  bottom: 33%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.one.top {
  background-color: red;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.one.top.left {
  background-color: blue;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.one.top.right {
  background-color: blue;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.one.bottom {
  background-color: blue;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.one.bottom.left {
  background-color: white;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.one.bottom.right {
  background-color: red;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.one.left {
  background-color: orange;
  position: absolute;
  bottom: 33%;
  left: 0%;
  height: 33%;
  width: 33%;
}

.one.right {
  background-color: white;
  position: absolute;
  bottom: 33%;
  left: 66%;
  height: 33%;
  width: 33%;
}

.two.center {
  background-color: green;
  position: absolute;
  bottom: 33%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.two.top {
  background-color: red;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.two.top.left {
  background-color: blue;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.two.top.right {
  background-color: blue;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.two.bottom {
  background-color: blue;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.two.bottom.left {
  background-color: white;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.two.bottom.right {
  background-color: red;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.two.left {
  background-color: orange;
  position: absolute;
  bottom: 33%;
  left: 0%;
  height: 33%;
  width: 33%;
}

.two.right {
  background-color: white;
  position: absolute;
  bottom: 33%;
  left: 66%;
  height: 33%;
  width: 33%;
}

.three.center {
  background-color: green;
  position: absolute;
  bottom: 33%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.three.top {
  background-color: red;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.three.top.left {
  background-color: blue;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.three.top.right {
  background-color: blue;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.three.bottom {
  background-color: blue;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.three.bottom.left {
  background-color: white;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.three.bottom.right {
  background-color: red;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.three.left {
  background-color: orange;
  position: absolute;
  bottom: 33%;
  left: 0%;
  height: 33%;
  width: 33%;
}

.three.right {
  background-color: white;
  position: absolute;
  bottom: 33%;
  left: 66%;
  height: 33%;
  width: 33%;
}

.four.center {
  background-color: green;
  position: absolute;
  bottom: 33%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.four.top {
  background-color: red;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.four.top.left {
  background-color: blue;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.four.top.right {
  background-color: blue;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.four.bottom {
  background-color: blue;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.four.bottom.left {
  background-color: white;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.four.bottom.right {
  background-color: red;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.four.left {
  background-color: orange;
  position: absolute;
  bottom: 33%;
  left: 0%;
  height: 33%;
  width: 33%;
}

.four.right {
  background-color: white;
  position: absolute;
  bottom: 33%;
  left: 66%;
  height: 33%;
  width: 33%;
}

.five.center {
  background-color: green;
  position: absolute;
  bottom: 33%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.five.top {
  background-color: red;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.five.top.left {
  background-color: blue;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.five.top.right {
  background-color: blue;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.five.bottom {
  background-color: blue;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.five.bottom.left {
  background-color: white;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.five.bottom.right {
  background-color: red;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.five.left {
  background-color: orange;
  position: absolute;
  bottom: 33%;
  left: 0%;
  height: 33%;
  width: 33%;
}

.five.right {
  background-color: white;
  position: absolute;
  bottom: 33%;
  left: 66%;
  height: 33%;
  width: 33%;
}

.six.center {
  background-color: green;
  position: absolute;
  bottom: 33%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.six.top {
  background-color: red;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.six.top.left {
  background-color: blue;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.six.top.right {
  background-color: blue;
  position: absolute;
  bottom: 66%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.six.bottom {
  background-color: blue;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.six.bottom.left {
  background-color: white;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.six.bottom.right {
  background-color: red;
  position: absolute;
  bottom: 0%;
  right: 33%;
  height: 33%;
  width: 33%;
}

.six.left {
  background-color: orange;
  position: absolute;
  bottom: 33%;
  left: 0%;
  height: 33%;
  width: 33%;
}

.six.right {
  background-color: white;
  position: absolute;
  bottom: 33%;
  left: 66%;
  height: 33%;
  width: 33%;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #252525;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}

#wrapper {
  padding-top: 10%;
}

.viewport {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective-origin: 50% 200px;
  -ms-perspective-origin: 50% 200px;
  -o-perspective-origin: 50% 200px;
  perspective-origin: 50% 200px;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  -webkit-box-reflect: below 170px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(250, 250, 250, 0.1)));
}

.cube {
  position: relative;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(136deg) rotateY(1122deg);
  -moz-transform: rotateX(136deg) rotateY(1122deg);
  -ms-transform: rotateX(136deg) rotateY(1122deg);
  -o-transform: rotateX(136deg) rotateY(1122deg);
  transform: rotateX(136deg) rotateY(1122deg);
}

.cube>div {
  overflow: hidden;
  position: absolute;
  opacity: 0.9;
  height: 200px;
  width: 200px;
  background-image: url("https://jordizle.com/static/img/codepen/blank.png");
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cube>div>div.cube-image {
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  line-height: 200px;
  font-size: 80px;
  text-align: center;
  color: #1b9bd8;
  -webkit-transition: color 600ms;
  -moz-transition: color 600ms;
  -ms-transition: color 600ms;
  -o-transition: color 600ms;
  transition: color 600ms;
}

.cube>div>div.cube-image.active {
  color: red;
}

.cube>div:hover {
  cursor: pointer;
}

.cube>div:active {
  cursor: pointer;
}

.cube>div:first-child {
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  -ms-transform: rotateX(90deg) translateZ(100px);
  -o-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
  outline: 1px solid transparent;
}

.cube>div:nth-child(2) {
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -ms-transform: translateZ(100px);
  -o-transform: translateZ(100px);
  transform: translateZ(100px);
  outline: 1px solid transparent;
}

.cube>div:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  -ms-transform: rotateY(90deg) translateZ(100px);
  -o-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
  outline: 1px solid transparent;
}

.cube>div:nth-child(4) {
  -webkit-transform: rotateY(180deg) translateZ(100px);
  -moz-transform: rotateY(180deg) translateZ(100px);
  -ms-transform: rotateY(180deg) translateZ(100px);
  -o-transform: rotateY(180deg) translateZ(100px);
  transform: rotateY(180deg) translateZ(100px);
  outline: 1px solid transparent;
}

.cube>div:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  -ms-transform: rotateY(-90deg) translateZ(100px);
  -o-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
  outline: 1px solid transparent;
}

.cube>div:nth-child(6) {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  outline: 1px solid transparent;
}

object {
  opacity: 0.5;
}

object:hover {
  opacity: 1;
}

@media (max-width: 640px) {
  .viewport {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
  }
}